
/*universal styles*/
.image-content{
  display:flex;
  flex-direction:column;
  height:300px;
  font-family: 'Georgia';
  font-weight:bold;
  color:white;
  font-size:30px;
  text-align:center;
}

.stories{
  display:flex;
  justify-content: space-between;
  margin-top: 17px;

}

.story{
  display:flex;
  flex-direction:column;
  width:300px;
}

/*header */
header{
  display:flex;
  align-items:center;
  position:fixed;
  z-index:1;
  width:100%;
  height:80px;
  border-bottom:1px solid black;
  background-color:white;
  font-family: 'Verdana';
  font-size:14px;
  font-weight:bold;
}

.logo{
  display:flex;
  align-items:center;
  flex-grow:1;
  padding-left:30px;

}

.logo img{
  width:70px;
  height:60px;
  margin-right:12px;

}

.logo span{
  color:mediumaquamarine;
}

header nav{
  padding-right:40px;

}

/*Main Content */
.content {
  display: flex;
  width: 1300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 78px;
  margin-left: auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/*large column*/

.column.large {
  width: 630px;

}



.lead-story.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.fall-cancelled.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.pop-culture.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

/*medium column*/

.column.medium {
  width: 300px;

}

.cat-ceo.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

/*small column*/

.column.small {
  width: 240px;
}

.news-bites h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.new-bites.bite{
  background-color: whitesmoke;
  font-family: 'Verdana';
  font-size: 12px;
  color: dimgray;
  border-bottom: 1px solid black;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
  padding-left: 20px;

}
